<html>
<body>
    <div>
        <h2>Show Data</h2>
        @Html.ActionLink("Show Disadvantages", "Get", "Disadvantages")<br />
        @Html.ActionLink("Show Characters", "Get", "Characters")<br />
        @Html.ActionLink("Show DisDisadvantages", "Get", "DisDisadvantages")<br />
        @Html.ActionLink("Show Equipments", "Get", "Equipments")<br />
        @Html.ActionLink("Show Items", "Get", "Items")<br />
        @Html.ActionLink("Show Languages", "Get", "Languages")<br />
        @Html.ActionLink("Show Skills", "Get", "Skills")<br />
    </div>
    <div>
        <h2>Insert Data</h2>
        @Html.ActionLink("Add Disadvantage", "AddDisadvantage", "Disadvantages")<br />
        @Html.ActionLink("Add DisDisadvantage", "AddDisDisadvantage", "DisDisadvantages")<br />
        @Html.ActionLink("Add Equipment", "AddEquipment", "Equipments")<br />
        @Html.ActionLink("Add Item", "AddItem", "Items")<br />
        @Html.ActionLink("Add Language", "AddLanguage", "Languages")<br />
        @Html.ActionLink("Add Skill", "AddSkill", "Skills")<br />
    </div>
    <div>
        <h2>Delete All Data</h2>
        @Html.ActionLink("Delete Disadvantages", "Delete", "Disadvantages")<br />
        @Html.ActionLink("Delete Characters", "Delete", "Characters")<br />
        @Html.ActionLink("Delete DisDisadvantages", "Delete", "DisDisadvantages")<br />
        @Html.ActionLink("Delete Equipments", "Delete", "Equipments")<br />
        @Html.ActionLink("Delete Items", "Delete", "Items")<br />
        @Html.ActionLink("Delete Languages", "Delete", "Languages")<br />
        @Html.ActionLink("Delete Skills", "Delete", "Skills")<br />
    </div>
</body>
</html>
