@model gurps_manager_library.Models.Disadvantage

<h2>Disadvantages</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add a new Disadvantages to the database</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div>
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </div>

            <div>
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description)
            </div>

            <div>
                @Html.LabelFor(model => model.Cost)
                @Html.TextBoxFor(model => model.Cost)
            </div>

            <div>
                @Html.LabelFor(model => model.LevelCap)
                @Html.TextBoxFor(model => model.LevelCap)
            </div>

            <div>
                @Html.CheckBox("Mental")
                @Html.Label("Mental")
                @Html.CheckBox("Physical")
                @Html.Label("Physical")
                @Html.CheckBox("Social")
                @Html.Label("Social")
                @Html.CheckBox("Exotic")
                @Html.Label("Exotic")
                @Html.CheckBox("Supernatural")
                @Html.Label("Supernatural")
                @Html.CheckBox("Mundane")
                @Html.Label("Mundane")
            </div>

            <div>
                @Html.LabelFor(model => model.Formula)
                @Html.TextBoxFor(model => model.Formula)
            </div>

            <div>
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}