@model gurps_manager_library.Models.Item

<h2>Item</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Add a new Item to the database</h4>
    <hr />
    @Html.ValidationSummary(true)

    <table>
        <tbody>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>@Html.TextBoxFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description)</td>
                <td colspan="2">@Html.TextAreaFor(model => model.Description, 5, 80, null)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.NT)</td>
                <td>@Html.TextBoxFor(model => model.NT)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Cost)</td>
                <td>@Html.TextBoxFor(model => model.Cost)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Weight)</td>
                <td>@Html.TextBoxFor(model => model.Weight)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Formula)</td>
                <td colspan="2">@Html.TextAreaFor(model => model.Formula, 5, 80, null)</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Add" class="btn btn-success" />
</div>
}
