@model gurps_manager_library.Models.Item

<h2>Item</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add a new Item to the database</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div>
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </div>

            <div>
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description)
            </div>

            <div>
                @Html.LabelFor(model => model.NT)
                @Html.TextBoxFor(model => model.NT)
            </div>

            <div>
                @Html.LabelFor(model => model.Cost)
                @Html.TextBoxFor(model => model.Cost)
            </div>

            <div>
                @Html.LabelFor(model => model.Weight)
                @Html.TextBoxFor(model => model.Weight)
            </div>

            <div>
                @Html.LabelFor(model => model.Formula)
                @Html.TextBoxFor(model => model.Formula)
            </div>

            <div>
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}